Repository jeju-deers/jeju-deers-frontend, pull requests merged in 2024-08, with the labels that each got.

#27 [#26] style: Club 페이지 컴포넌트 구현
  src/assets/images/Roster.svg
  src/assets/images/helmet.svg
  src/assets/images/ilogistic.svg
  src/assets/images/lasangroup.svg
  src/assets/images/organization.svg
  src/components/atoms/club/Heading.tsx
  src/components/atoms/club/HeadingStyles.ts
  src/components/atoms/club/about/AboutTeam.tsx
  src/components/atoms/club/about/AboutTeamStyles.ts
  src/components/atoms/club/about/History.tsx
  src/components/atoms/club/about/HistoryStyles.ts
  src/components/atoms/club/coach/CoachList.tsx
  src/components/atoms/club/coach/CoachListStyles.ts
  src/components/atoms/club/coach/StaffList.tsx
  src/components/atoms/club/coach/StaffListStyles.ts
  src/components/atoms/club/organization/OrganizationChart.tsx
  src/components/atoms/club/organization/OrganizationChartStyles.ts
  src/components/atoms/club/roster/RosterImage.tsx
  src/components/atoms/club/roster/RosterImageStyles.ts
  src/components/atoms/club/roster/RosterList.tsx
  src/components/atoms/club/roster/RosterListStyles.ts
  src/components/atoms/club/sponsor/Company.tsx
  src/components/atoms/club/sponsor/CompanyStyles.ts
  src/components/templates/club/AboutPage.tsx
  src/components/templates/club/AboutPageStyles.ts
  src/components/templates/club/CoachPage.tsx
  src/components/templates/club/CoachPageStyles.ts
  src/components/templates/club/OrganizationPage.tsx
  src/components/templates/club/OrganizationPageStyles.ts
  src/components/templates/club/RosterPage.tsx
  src/components/templates/club/RosterPageStyles.ts
  src/components/templates/club/SponsorPage.tsx
  src/components/templates/club/SponsorPageStyles.ts
  src/constants/coachData.ts
  src/constants/historyData.ts
  src/constants/staffData.ts
  src/pages/club/AboutPage.tsx
  src/pages/club/CoachPage.tsx
  src/pages/club/CoachesStaffPage.tsx
  src/pages/club/CoachesStaffPageStyles.ts
  src/pages/club/OrganizationPage.tsx
  src/pages/club/RosterPage.tsx
  src/pages/club/SponsorPage.tsx
  src/routes/Router.tsx
Labels: style

#32 [#25] feat: signup 페이지 기능 구현
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/empty.ts
  src/api/user.ts
  src/components/atoms/signUp/body/ItemInput.tsx
  src/components/molecules/signUp/body/ItemInputField.tsx
  src/components/molecules/signUp/body/SignUpPurposeField.tsx
  src/components/organisms/signUp/body/BasicItemsInputField.tsx
  src/components/organisms/signUp/body/CoachItemsInputField.tsx
  src/components/organisms/signUp/body/CoachItemsInputFieldStyles.ts
  src/components/organisms/signUp/body/CoachesStaffItemsInputField.tsx
  src/components/organisms/signUp/body/PlayerItemsInputField.tsx
  src/components/organisms/signUp/body/PlayerItemsInputFieldStyles.ts
  src/components/organisms/signUp/body/RosterItemsInputField.tsx
  src/components/templates/signUp/SignUp.tsx
  src/hooks/signUp/mutate/usePostCoachSignUp.ts
  src/hooks/signUp/mutate/usePostExternalSignUp.ts
  src/hooks/signUp/mutate/usePostPlayerSignUp.ts
  src/hooks/signUp/useSignUpForm.tsx
  src/pages/SignUpPage.tsx
  src/routes/Router.tsx
Labels: feat

#29 [#28] style: tailwind config를 통한 CSS 적용
  src/components/atoms/main/body/TitleStyles.ts
  src/components/atoms/main/header/AccountStyles.ts
  src/components/atoms/main/header/MenuStyles.ts
  src/components/atoms/signUp/body/ItemConditionStyles.ts
  src/components/atoms/signUp/body/ItemInputStyles.ts
  src/components/atoms/signUp/body/ItemRadioStyles.ts
  src/components/atoms/signUp/body/ItemTitleStyles.ts
  src/components/atoms/signUp/body/PrivacyPolicyAgreeStyles.ts
  src/components/atoms/signUp/body/PrivacyPolicyTextStyles.ts
  src/components/atoms/signUp/body/SubmitButtonStyles.ts
  src/components/atoms/signUp/primaryHeader/PrimaryTitleEnglishStyles.ts
  src/components/atoms/signUp/primaryHeader/PrimaryTitleKoreanStyles.ts
  src/components/atoms/signUp/subHeader/SubTitleStyles.ts
  src/components/molecules/main/header/AccountsStyles.ts
  src/components/organisms/main/footer/FooterStyles.ts
  src/components/organisms/signUp/body/CoachItemsInputFieldStyles.ts
  src/components/organisms/signUp/body/PlayerItemsInputFieldStyles.ts
  src/components/organisms/signUp/primaryHeader/PrimaryHeaderStyles.ts
  src/components/templates/signUp/SignUpStyles.tsx
  tailwind.config.cjs
Labels: style

#37 [#34] style: myPage UI 구현
  src/Base.tsx
  src/components/atoms/myPage/body/CancelButton.tsx
  src/components/atoms/myPage/body/CancelButtonStyles.ts
  src/components/atoms/myPage/body/ItemCondition.tsx
  src/components/atoms/myPage/body/ItemConditionStyles.ts
  src/components/atoms/myPage/body/ItemInput.tsx
  src/components/atoms/myPage/body/ItemInputStyles.ts
  src/components/atoms/myPage/body/ItemTitle.tsx
  src/components/atoms/myPage/body/ItemTitleStyles.ts
  src/components/atoms/myPage/body/SubmitButton.tsx
  src/components/atoms/myPage/body/SubmitButtonStyles.ts
  src/components/atoms/myPage/subHeader/MainLogo.tsx
  src/components/atoms/myPage/subHeader/MainLogoStyles.ts
  src/components/atoms/myPage/subHeader/SubTitle.tsx
  src/components/atoms/myPage/subHeader/SubTitleStyles.ts
  src/components/molecules/myPage/body/ItemInputField.tsx
  src/components/molecules/myPage/body/ItemInputFieldStyles.ts
  src/components/molecules/myPage/subHeader/SubHeader.tsx
  src/components/molecules/myPage/subHeader/SubHeaderStyles.ts
  src/components/organisms/myPage/BasicItemsInputField.tsx
  src/components/organisms/myPage/BasicItemsInputFieldStyles.ts
  src/components/organisms/myPage/CoachesStaffItemsInputField.tsx
  src/components/organisms/myPage/CoachesStaffItemsInputFieldStyles.ts
  src/components/organisms/myPage/PlayerItemsInputField.tsx
  src/components/organisms/myPage/PlayerItemsInputFieldStyles.ts
  src/components/templates/myPage/MyPage.tsx
  src/components/templates/myPage/MyPageStyles.ts
  src/constants/TitleList.ts
  src/pages/MyPagePage.tsx
  src/routes/Router.tsx
  tailwind.config.cjs
Labels: style

#39 [#33] feat: login 기능 구현
  src/api/user.ts
  src/components/organisms/myPage/CoachItemsInputField.tsx
  src/components/organisms/myPage/CoachItemsInputFieldStyles.ts
  src/components/templates/login/Login.tsx
  src/components/templates/login/LoginStyles.tsx
  src/components/templates/myPage/MyPage.tsx
  src/components/templates/signUp/SignUp.tsx
  src/constants/TitleList.ts
  src/hooks/login/mutate/usePostLogin.ts
  src/pages/LoginPage.tsx
  src/routes/Router.tsx
Labels: feat

#38 [#36] style: 로그인 모달 UI 구현
  src/components/atoms/main/header/Account.tsx
  src/components/molecules/main/header/Accounts.tsx
  src/components/molecules/main/header/AccountsStyles.ts
  src/components/organisms/main/sidebar/SideBarStyles.ts
  src/components/templates/login/Login.tsx
  src/components/templates/login/LoginStyles.ts
  tailwind.config.cjs
Labels: style

#42 [#41] modify: Login 모달 UI와 Login 기능 병합
  src/api/account.ts
  src/components/atoms/main/header/Account.tsx
  src/components/atoms/main/header/LoginModal.tsx
  src/components/atoms/main/header/LoginModalStyles.ts
  src/components/molecules/main/header/Accounts.tsx
  src/components/templates/login/Login.tsx
  src/components/templates/login/LoginStyles.tsx
  src/hooks/login/mutate/usePostLogin.ts
  src/hooks/signUp/mutate/usePostCoachSignUp.ts
  src/hooks/signUp/mutate/usePostExternalSignUp.ts
  src/hooks/signUp/mutate/usePostPlayerSignUp.ts
  src/pages/LoginPage.tsx
  src/routes/Router.tsx
Labels: modify

#43 [#40] feat: 회원가입 유효성 검사 기능 구현
  src/api/account.ts
  src/components/atoms/signUp/body/ItemInput.tsx
  src/components/molecules/signUp/body/ItemInputField.tsx
  src/components/organisms/signUp/body/BasicItemsInputField.tsx
  src/components/organisms/signUp/body/CoachItemsInputField.tsx
  src/components/organisms/signUp/body/PlayerItemsInputField.tsx
  src/hooks/signUp/mutate/usePostCoachSignUp.ts
  src/hooks/signUp/mutate/usePostExternalSignUp.ts
  src/hooks/signUp/mutate/usePostPlayerSignUp.ts
  src/hooks/signUp/useSignUpForm.tsx
  src/pages/SignUpPage.tsx
Labels: feat

#46 [#45] feat: userType별 명단 받아오기
  src/api/users.ts
  src/assets/images/Profile.svg
  src/common/components/atom/Empty.tsx
  src/common/components/atom/EmptyStyles.ts
  src/common/components/atom/ErrorMessage.tsx
  src/common/components/atom/ErrorMessageStyles.ts
  src/common/components/atom/PendingMessage.tsx
  src/common/components/atom/PendingMessageStyles.ts
  src/components/atoms/club/coach/CoachList.tsx
  src/components/atoms/club/coach/StaffList.tsx
  src/components/atoms/club/coach/StaffListStyles.ts
  src/components/atoms/club/roster/PlayerImage.tsx
  src/components/atoms/club/roster/PlayerImageStyles.ts
  src/components/atoms/club/roster/PlayerList.tsx
  src/components/atoms/club/roster/PlayerListStyles.ts
  src/components/atoms/club/roster/RosterImage.tsx
  src/components/atoms/club/roster/RosterList.tsx
  src/components/organisms/myPage/PlayerItemsInputField.tsx
  src/components/templates/club/About.tsx
  src/components/templates/club/AboutStyles.ts
  src/components/templates/club/Coach.tsx
  src/components/templates/club/CoachPage.tsx
  src/components/templates/club/CoachPageStyles.ts
  src/components/templates/club/CoachStyles.ts
  src/components/templates/club/Organization.tsx
  src/components/templates/club/OrganizationStyles.ts
  src/components/templates/club/Player.tsx
  src/components/templates/club/PlayerStyles.ts
  src/components/templates/club/RosterPage.tsx
  src/components/templates/club/Sponsor.tsx
  src/components/templates/club/SponsorStyles.ts
  src/components/templates/myPage/MyPage.tsx
  src/constants/TitleList.ts
  src/constants/coachData.ts
  src/constants/staffData.ts
  src/hooks/club/query/useGetUsers.ts
  src/pages/club/AboutPage.tsx
  src/pages/club/CoachPage.tsx
  src/pages/club/OrganizationPage.tsx
  src/pages/club/PlayerPage.tsx
  src/pages/club/RosterPage.tsx
  src/pages/club/SponsorPage.tsx
  src/routes/Router.tsx
Labels: feat, style

#47 [#31] feat: 게시판 기능 구현
  src/App.tsx
  src/api/boards.ts
  src/api/types/board.ts
  src/api/types/empty.ts
  src/components/atoms/news/news/Board.tsx
  src/components/atoms/news/news/BoardStyles.ts
  src/components/atoms/news/news/DropDownButton.tsx
  src/components/atoms/news/news/DropDownButtonStyles.ts
  src/components/atoms/news/news/PageMoveButton.tsx
  src/components/atoms/news/news/PageMoveButtonStyles.ts
  src/components/atoms/news/news/SearchButton.tsx
  src/components/atoms/news/news/SearchButtonStyles.ts
  src/components/atoms/news/news/WriteButton.tsx
  src/components/atoms/news/news/WriteButtonStyles.ts
  src/components/molecules/news/Pagination.tsx
  src/components/molecules/news/PaginationStyles.ts
  src/components/molecules/news/Search.tsx
  src/components/molecules/news/SearchStyles.ts
  src/components/templates/news/news/News.tsx
  src/components/templates/news/news/NewsStyle.ts
  src/constants/newsData.ts
  src/hooks/board/empty.ts
  src/hooks/board/query/useGetBoards.ts
  src/hooks/handleSearch.ts
  src/pages/news/NewsPage.tsx
Labels: feat
